@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */
 
div.document {
/*    width: 70%;*/
    margin: 30px auto 0 auto;
}

div.body {
    min-width: 200px;
    max-width: 800px;
}

/* Code bloc line numbers padding reduced to 5px*/
pre {
    background: #EEE;
    background-color: rgb(238, 238, 238);
    padding: 7px 5px;
    margin: 15px 0px;
    line-height: 1.3em;
}

